

.app ul {
    padding-left: 4px;
}


.left {
    float: left;
    display: inline-block;
    z-index: 0;
}

.right {
    float: right;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
}





