/** Setup file CSS */
.ydn-crm {
  font-family: arial,sans-serif;
  font-size: 12px; }

.left {
  float: left;
  display: inline-block;
  z-index: 0; }

.right {
  float: right;
  display: inline-block;
  overflow: hidden;
  z-index: 1; }

/* toolbar items */
.toolbar > * {
  padding-left: 4px; }

.statusbar {
  right: 0;
  left: 0;
  clear: both;
  position: fixed;
  bottom: 0;
  z-index: 100;
  height: 14px;
  overflow: hidden;
  border: solid thin #d3d3d3;
  border-top: solid thin #ffffff;
  background: #d3d3d3;
  padding: 4px 2px;
  margin: 0;
  font-size: small; }

.sticky-right .statusbar {
  position: relative; }

body.setup {
  font-size: 120%; }

details > * > .title {
  padding-left: 20px; }

details.success > * > .title {
  background: url("chrome-extension://__MSG_@@extension_id__/image/tick.svg") left center no-repeat; }

details {
  padding: 8px; }

#step-list summary > span {
  cursor: pointer; }

#li-host.success .deny {
  display: none; }

#li-host.fail .granted {
  display: none; }

summary::-webkit-details-marker {
  display: none; }

summary > span {
  padding-left: 4px; }

details > div {
  padding: 18px 8px 8px 8px; }

summary:after {
  border: thin solid lightgrey;
  border-radius: 3px;
  content: "+";
  float: left;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  width: 20px;
  line-height: 1em; }

summary:hover:after {
  color: white;
  background-color: black; }

details[open] summary:after {
  content: "-"; }
